<!DOCTYPE html>
<html data-bs-theme="light" lang="{{ app.request.locale }}" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- ===============================================-->
        <!--    Document Title-->
        <!-- ===============================================-->
        <title>
            {% block title %}Falcon | {% endblock %}
        </title>

        <!-- ===============================================-->
        <!--    Favicons-->
        <!-- ===============================================-->
        <meta name="theme-color" content="#ffffff">


        <!-- ===============================================-->
        <!--    Stylesheets-->
        <!-- ===============================================-->

        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        <!-- ===============================================-->
        <!--    Main Content-->
        <!-- ===============================================-->
        <main class="main" id="top">
        <div class="container" data-layout="container">
            <script>
                var isFluid = JSON.parse(localStorage.getItem('isFluid'));
                if (isFluid) {
                    var container = document.querySelector('[data-layout]');
                    container.classList.remove('container');
                    container.classList.add('container-fluid');
                }
            </script>

            {% include 'includes/_navbar.html.twig' %}

            <div class="content">

                {% include 'includes/_menu.html.twig' %}

                {% block body %}{% endblock %}

                {% include 'includes/_footer.html.twig' %}
            </div>
        </div>
    </main>
        <!-- ===============================================-->
        <!--    End of Main Content-->
        <!-- ===============================================-->


        <!-- ===============================================-->
        <!--    JavaScripts-->
        <!-- ===============================================-->

        {% block javascripts %}
            <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
            {{ importmap('app') }}
        {% endblock %}
    </body>
</html>
